ARTIO_POSTGRES_HOST=postgres
ARTIO_POSTGRES_PORT=5432
ARTIO_POSTGRES_DB=artio
ARTIO_POSTGRES_USER=artio
ARTIO_POSTGRES_PASSWORD=artio

AIRFLOW_FERNET_KEY=
AIRFLOW_WEBSERVER_SECRET_KEY=artio-dev-secret
SUPERSET_SECRET_KEY=artio-superset-dev-secret

AIRFLOW_UID=50000
